<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>eyeCare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E78158F1CCF5EFA00D8A90A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E78159E1CCF5EFA00D8A90A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E7815A91CCF5EFA00D8A90A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
